# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env

# Database files
*.db

# Ignore large raw Yelp datasets
data/yelp_*.json


# Ignore Mac system files
.DS_Store

# Generated images
*.png

assets/images/*.html



