# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env

# Database files
*.db

# Large data files

* # Ignore large raw Yelp datasets
data/yelp_*.json

# Ignore database files
*.db

# Ignore Mac system files
.DS_Store

# Generated images
*.png

assets/images/*.html

.DS_Store

data/processed/indy_philly_restaurant_aggregated.json
data/*.json
data/*.db
